<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 <uses-permission android:name="android.permission.INTERNET"/>
 <application android:allowBackup="false" android:label="CodeArc" android:icon="@drawable/ic_logo" android:theme="@style/Theme.CodeArc" android:supportsRtl="true">
 <activity android:name=".ui.EditorActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
 <activity android:name=".ui.LanguagesActivity" android:exported="false"/>
 <activity android:name=".ui.CourseActivity" android:exported="false"/>
 <activity android:name=".ui.LessonActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
 <activity android:name=".ui.PracticeActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
 <activity android:name=".ui.ProjectActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
 <activity android:name=".ui.GitActivity" android:exported="false"/>
 <activity android:name=".ui.StorageActivity" android:exported="false"/>
 <activity android:name=".ui.MainActivity" android:exported="true" android:theme="@style/Theme.CodeArc.Starting" android:windowSoftInputMode="adjustResize">
 <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
 </activity></application></manifest>
